@use '../../../styles-variables';

.bs-container {
  width: 100%;
  margin-bottom: 10px;
}

th.mat-sort-header-sorted {
  color: black;
}

.detail-row {
  height: 0 !important;
}

tr.sb-element-row {
  cursor: pointer;
}

tr.sb-element-row:not(.sb-expanded-row):hover {
  background: whitesmoke;
}

tr.sb-element-row:not(.sb-expanded-row):active {
  background: #efefef;
}

.sb-element-row td {
  border-bottom-width: 0;
}

.disposition-table {
  .mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
  }
}

.element-detail {
  overflow: hidden;
  display: flex;

  .element-detail-row {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: baseline;
    mat-form-field {
      width: 150px;
      margin-left: auto;
    }
  }

  .element-detail-row-table {
    max-width: 100%;
    // width: 650px;
    overflow: auto;
    margin-bottom: 20px;

    table {
      width: 900px;
      word-break: break-all;
      word-wrap: break-word;
    }
    .mat-column-description {
      max-width: 90px;
    }
    .mat-column-unit {
      max-width: 70px;
    }
    .mat-column-unitPrice {
      max-width: 60px;
    }
    .mat-column-qty {
      max-width: 60px;
    }
    .mat-mdc-row .mat-mdc-cell {
      cursor: pointer;
    }
    .mat-mdc-row:hover .mat-mdc-cell {
      border-color: currentColor;
      font-weight: bold;
    }
  }
}

.mat-column-expandedDetail {
  background: whitesmoke;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.sb-toggle-button {
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sb-toggle-button-expanded {
  transform: rotate(180deg);
}
