@import '../../../styles-variables';

.bs-container {
  width: 100%;
  margin-bottom: 10px;
}

th.mat-sort-header-sorted {
  color: black;
}

.detail-row {
  height: 0 !important;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;

  .element-detail-row {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .element-detail-row-table {
    padding-bottom: 30px;
  }
}

.mat-column-expandedDetail {
  background: whitesmoke;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


