@use 'sass:map';
@use '@angular/material' as mat;

@mixin business-component-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);
  $accent: map.get($color-config, accent);

  app-business {
    mat-sidenav-container {
      mat-toolbar {
        button {
          &.active {
            color: mat.get-color-from-palette($accent, default-contrast);
            background-color: mat.get-color-from-palette($accent);
          }
        }

        .link {
          color: mat.get-color-from-palette($primary, default-contrast);
        }
      }

      mat-sidenav {
        .mat-list-item {
          &.active {
            color: mat.get-color-from-palette($accent, default-contrast);
            background-color: mat.get-color-from-palette($accent) !important;

            &:hover {
              background-color: mat.get-color-from-palette($accent, darker) !important;
            }
          }
        }
      }

      .footer {
        color: mat.get-color-from-palette($primary, lighter);
        background-color: mat.get-color-from-palette($primary, darker);

        .links,
        .signature {
          a {
            color: mat.get-color-from-palette($primary, lighter);
            &:hover {
              color: mat.get-color-from-palette($accent);
            }
          }
        }
      }
    }

    .nav-responsive {
      border-bottom: 1px solid mat.get-color-from-palette($primary);
    }

    //mat-select {
    //  line-height: 48px;
    //  margin: 0 20px;
    //  width: 100%;
    //}
  }

  .nav-responsive-overlay {
    .active {
      color: mat.get-color-from-palette($accent, default-contrast);
      background-color: mat.get-color-from-palette($accent);
    }
  }
}
