@use "sass:map";
@use '../../../styles-variables' as v;

nav {
  margin-bottom: 20px;
  align-items: flex-start;
  flex-direction: column;
  .mat-mdc-tab-link {
    min-width: 120px;
    padding: 0 15px;
  }

  @media (max-width: map.get(v.$grid-breakpoints, md)) {
    .mat-mdc-tab-link {
      min-width: 0;
    }
  }
}
