@use 'sass:map';
@use '@angular/material' as mat;
@use '../styles-variables' as v;

@mixin app-component-theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $primary: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);

  .error-notification-overlay {
    color: mat.m2-get-color-from-palette($warn, default-contrast);
    background-color: mat.m2-get-color-from-palette($warn);
  }

  .info-notification-overlay {
    color: mat.m2-get-color-from-palette($accent, default-contrast);
    background-color: mat.m2-get-color-from-palette($accent);
  }

  .success-notification-overlay {
    color: mat.m2-get-color-from-palette(v.$success-colors, default-contrast);
    background-color: mat.m2-get-color-from-palette(v.$success-colors);
  }

  .warning-notification-overlay {
    color: mat.m2-get-color-from-palette(v.$warning-colors, default-contrast);
    background-color: mat.m2-get-color-from-palette(v.$warning-colors);
  }
}
