@use '@angular/material' as mat;
$b-black-primary: mat.m2-define-palette(mat.$m2-grey-palette, 700, 300, 900);
$b-black-accent: mat.m2-define-palette(mat.$m2-blue-gray-palette, 400);
$b-black-warn: mat.m2-define-palette(mat.$m2-red-palette, 500);

$black-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $b-black-primary,
      accent: $b-black-accent,
      warm: $b-black-warn,
    ),
  )
);
