@use '../../../styles-variables';

.customers-table {
  min-height: 360px;
  margin-top: 10px;
  overflow-y: auto;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.customers-table {
  .mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
  }
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
    font-weight: bold;
  }
}
