@use '@angular/material' as mat;

@include mat.core();

mat.$theme-ignore-duplication-warnings: true;

@import 'styles-variables';
@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/bootstrap-grid';
@import 'styles-reset';

@import 'themes/_default-theme';
@import 'themes/_light-theme';
@import 'themes/_black-theme';
@import 'themes/_nature-theme';
@import 'styles-reset.scss-theme';
@import 'app/business/business/app.business.scss-theme';
@import 'app/app.component.scss-theme';
@import 'app/business/transaction/transaction.scss-theme';

@mixin components-theme($theme) {
  @include busx-styles-reset-theme($theme);
  @include app-component-theme($theme);
  @include business-component-theme($theme);
}

.default-theme {
  @include mat.all-component-themes($default-theme);
  @include components-theme($default-theme);
}

.light-theme {
  @include mat.all-component-themes($light-theme);
  @include components-theme($light-theme);
}

.black-theme {
  @include mat.all-component-themes($black-theme);
  @include components-theme($black-theme);
}

.nature-theme {
  @include mat.all-component-themes($anms-nature-theme);
  @include components-theme($anms-nature-theme);
}

.spacer {flex: 1 1 auto;}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-form-field {
  position: relative;
  display: flex;
  height: 65.5px;
  align-items: center;

  mat-placeholder {
    flex: 2 1 auto;
  }
}

.tooltip-red {
  background: #b71c1c;
}


