@use '@angular/material' as mat;
@use 'styles-variables';
@use 'bootstrap/scss/bootstrap-reboot';
@use 'bootstrap/scss/bootstrap-grid';
@use 'styles-reset';
@use 'styles-theme' as t;
@use 'themes/_default-theme' as d;
@use 'themes/_light-theme' as l;
@use 'themes/_black-theme' as b;
@use 'themes/_nature-theme' as n;
@use 'app/business/business/business.scss-theme' as bs;
@use 'app/app.component.scss-theme' as a;
@use 'app/business/transaction/transaction.scss-theme';

@include mat.elevation-classes();
@include mat.app-background();

mat.$theme-ignore-duplication-warnings: true;

@mixin components-theme($theme) {
  @include t.busx-styles-reset-theme($theme);
  @include a.app-component-theme($theme);
  @include bs.business-component-theme($theme);
}

.default-theme {
  @include mat.all-component-themes(d.$default-theme);
  @include components-theme(d.$default-theme);
}

.light-theme {
  @include mat.all-component-themes(l.$light-theme);
  @include components-theme(l.$light-theme);
}

.black-theme {
  @include mat.all-component-themes(b.$black-theme);
  @include components-theme(b.$black-theme);
}

.nature-theme {
  @include mat.all-component-themes(n.$nature-theme);
  @include components-theme(n.$nature-theme);
}

.spacer {
  flex: 1 1 auto;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.icon-form-field {
  position: relative;
  display: flex;
  height: 65.5px;
  align-items: center;

  mat-placeholder {
    flex: 2 1 auto;
  }
}

.tooltip-red {
  background: #b71c1c;
}
