@use '@angular/material' as mat;

:host mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

textarea {
  height: 100px;
  resize: vertical;
}

mat-dialog-content > * {
  margin: 5px 0;

  mat-form-field {
    margin-bottom: 10px;
  }
}
